<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jobs</title>
</head>

<body>
    <h1>Job Information</h1>
    <h2>
        <%=title %>
    </h2>
    <ul>
        <% for(let skill of skills) { %>
            <li>
                <%=skill%>
            </li>
        <% } %>

    </ul>

</body>

</html>