<div class="bg-danger text-white p-2" style="font-size:20pt;font-weight: bold;">
    Employee Manager</div>
<div class="bg-secondary p-2 fw-bold">
    <a class="text-white" href="/add">[Add Employee]</a>
    &nbsp;
    <a class="text-white" href="/list">[List Employees]</a>
    &nbsp;
    <a class="text-white" href="/search">[Search Employees]</a>
</div>

